.yellow-gradient {
  background: rgb(252, 219, 0);
  background: linear-gradient(
    180deg,
    rgba(252, 219, 0, 1) 0%,
    rgba(241, 211, 40, 1) 100%
  );
}

.home-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 78vh;
  grid-template-areas: "header header";
  margin: auto;
}

.home-header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.carousel-item {
  display: grid;
  grid-template: auto / auto auto;
}

.carousel.carousel-slider {
  height: 100%;
}

@media screen and (min-width: 330px) and (max-width: 768px) {
  .ipad-mini {
    display: none;
  }

  .content {
    height: auto;
    padding-bottom: 40px;
  }

  .container {
    height: auto;
  }

  .feature-content {
    grid-template: auto auto auto auto auto auto / auto !important;
    gap: 60px 25px !important;
  }

  .feature-item {
    grid-template: auto auto / auto !important;
    text-align: center;
    margin: auto;
  }

  .feature-item .icon {
    margin: 0 auto 10px !important;
  }

  .home-content {
    grid-template-rows: 1fr 1fr;
  }

  .main-left {
    text-align: center !important;
  }

  nav {
    display: block !important;
    text-align: center;
  }

  nav ul li {
    display: block !important;
    padding: 15px !important;
  }

  .home-header {
    display: grid;
    grid-template: auto auto / auto;
    justify-content: center;
  }

  .platforms {
    margin: 30px auto;
  }

  footer {
    grid-template: auto auto / auto !important;
  }

  .box-menu-footer {
    grid-template: auto auto auto auto / auto !important;
    text-align: center  ;
}
}
