

.yellow-gradient {
  background: rgb(252, 219, 0);
  background: linear-gradient(
    180deg,
    rgba(252, 219, 0, 1) 0%,
    rgba(241, 211, 40, 1) 100%
  );

}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas: "header header";
  margin: auto;
}

.home-header {
  grid-area: header;
  display: flex;
  align-items: center;
}

