.header-title {
  text-align: center;
  padding: 80px 0;
}

.header-title p {
  max-width: 70%;
  margin: 20px auto;
  color: #313841;
}

.feature-content {
  display: grid;
  gap:100px 25px;
  grid-template: auto auto / auto auto auto;
 
}

.feature-item h3 {
  font-size: 22px;
  font-weight: normal;
}

.feature-item {
  display: grid;
  grid-template: auto/auto auto;
}

.feature-item .icon {
  margin: 5px 25px 0 0;
  font-size: 32px;
}

.feature-item .icon-code {
  margin: 5px 13px 0 0;
 
}

.feature-item .icon-mail-folder  {
  margin: 2px 25px 0 0;
 
}

.feature-item .icon-bookmark {
  margin: 5px 30px 0 0;
 
}
.feature-item p {
  font-size: 16px;
  color: #898989;
  margin-top: 8px;
}

