nav {
  display: flex;
}

nav ul li {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  padding: 30px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:visited {
  color: #000;
}
